extends layout

block content
  h1 Hang out with cool people now
  form#events-search-field
    input.form-control.input-lg(placeholder="Find things to do")
  hr
  p.lead 9 events happening now in Manhattan
  div#events-list.grid-list-container