extends layout

block content
  h1 Hang out with cool people now
  form#events-search-field
    input.form-control.input-lg(placeholder="Find things to do")
  hr
  p.lead
    span#events-count
    span &nbsp; events happening now in Manhattan
  div#events-list.grid-list-container

  script(src='/js/home.js')