extends layout

block content
  h1 Hang out with cool people now
  form#events-search-field
    input.form-control.input-lg(placeholder="Find things to do")
  hr
  p.lead 9 events happening now in Manhattan
  .events-list
    .row
      .col-sm-4
        h2 Coffee!
        p
          i.fa.fa-map-marker
          | Midtown NY
        p
          i.fa.fa-calendar
          | Today, 8:00pm - 10:00pm
        p Want to meet some new people
      .col-sm-4
        h2 Coffee!
        p
          i.fa.fa-map-marker
          | Midtown NY
        p
          i.fa.fa-calendar
          | Today, 8:00pm - 10:00pm
        p Want to meet some new people
      .col-sm-4
        h2 Coffee!
        p
          i.fa.fa-map-marker
          | Midtown NY
        p
          i.fa.fa-calendar
          | Today, 8:00pm - 10:00pm
        p Want to meet some new people