extends layout

block content
  h1.text-center What would you like to do?
  form#new-events-form.form-horizontal
    div.form-group
      label(for="title" class="col-sm-2 control-label") Title
      div.col-sm-8
        input.form-control#title
    div.form-group
      label(for="location" class="col-sm-2 control-label") Location
      div.col-sm-8
        input.form-control#location
    div.form-group
      label(for="start" class="col-sm-2 control-label") Start
      div.col-sm-8
        input.form-control#start(type="date")
    div.form-group
      label(for="end" class="col-sm-2 control-label") End
      div.col-sm-8
        input.form-control#end(type="date")
    div.form-group
      label(for="description" class="col-sm-2 control-label") Description
      div.col-sm-8
        textarea.form-control#description(style="height: 150px;")
    div.form-group
      div.col-sm-offset-2.col-sm-10
        button.btn.btn-default Create Event
