html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 60px;
    margin-bottom: 75px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
}

footer p, footer ul {
    margin-bottom: 0;
}

textarea {
   resize: vertical;
}

.navbar-nav img {
   width: 30px;
   height: 30px;
   margin: -15px 15px -15px;
}

.alert {
   margin-top: 20px;
}


.thumbnail {
   padding: 0;
   border-radius: 0;
   box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}


.fa {
   margin-right: 6px;
}

#search-box {
    margin-top: 20px;
}

.grid-list-container {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.grid-list-item {
    width: 300px;
}